<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout (~{:: title}, ~{ :: main})}">
<title>Diario Web - Editando</title>
<div>
    <h1>Editar Registro</h1>
    <form th:action="@{/update}" th:object="${registro}" method="post">
        <div class="form-group">
            <label for="texto">Texto</label>
            <textarea id="texto" class="form-control" th:field="*{texto}" required></textarea>
        </div>
        <input type="hidden" th:field="*{id}">
        <button type="submit" class="btn btn-custom">Salvar</button>
    </form>
</div>
</html>
